{% extends "irentpp/base.html" %}

{% block title %} {{ post.title }} {% endblock %}


{% block content %}
<h1>{{ items.title }}</h1>
<div class="container">
    <p>{{ items.date }}</p>
    <div>
        {{ items.content }}
    </div>
</div>

<hr/>

<div class="container">

    <h2>Comments</h2>


    {% for question %}
        <div class="border rounded p-3 mt-3">
            <h5>{{ question.name }}</h5>
            <p>{{ question.content }}</p>
            <span>{{ question.created_at }}</span>
        </div>
    {% endfor %}
    
    <hr/>
    <form action="{% url 'irentpp:add_question' items.id %}" method="items">
        {% csrf_token %}
        <label class="form-label">Your Name:</label>
        <input type="text" name="name" class="form-control" />

        <label class="form-label">Your question:</label>
        <textarea name="content" class="form-control"></textarea>

        <input type="submit" class="btn btn-primary mt-2" value="New question" />
    </form>

</div>

{% endblock %}